<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modifier Livre</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
</head>
<body>
    <form th:object="${livre}" th:action="@{/editLivre}" method="post" class="container mt-4">
        <div class="card p-2 m-2">
            <div class="card-header">
                <h1 class="mb-0">Modifier Livre</h1>
            </div>
            <div class="card-body">
                <input type="hidden" th:field="*{id}" />
                <div class="mb-3">
                    <label for="titre" class="form-label">Titre</label>
                    <input type="text" th:field="*{titre}" class="form-control" id="titre" placeholder="Titre du livre" required>
                </div>
                <div class="mb-3">
                    <label for="auteur" class="form-label">Auteur</label>
                    <input type="text" th:field="*{auteur}" class="form-control" id="auteur" placeholder="Auteur du livre" required>
                </div>
                <div class="mb-3">
                    <label for="quantite" class="form-label">Quantité</label>
                    <input type="number" th:field="*{quantite}" class="form-control" id="quantite" placeholder="Quantité disponible" required>
                </div>

                <button  type="submit" class="btn btn-primary">Enregistrer</button>
                <a th:href="@{/index(search=${search})}" class="btn btn-secondary">Annuler</a>
            </div>
        </div>
</body>
</html>