<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Liste des Livres</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}" />
    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</head>

<body>

    <!-- Inclure la navbar -->
    <div th:insert="~{template1 :: navbar}"></div>



    <div class="container mt-4">
        <div class="card p-2 m-2">
            <div class="card-header">
                <h1 class="mb-0">Liste des Livres</h1>
            </div>

            <div class="card-body">
                <form method="get" th:action="@{/index}">
                    <label for="search">Recherche</label>
                    <input type="text" name="search" th:value="${search} ">
                    <button type="submit" class="btn btn-primary">Rechercher</button>

                </form>
                <table class="table table-striped">
                    <thead>

                        <tr>
                            <th>ID</th>
                            <th>Titre</th>
                            <th>Auteur</th>
                            <th>Quantité</th>
                            <th>Actions</th>
                        </tr>


                    </thead>
                    <tbody>
                        <tr th:each="livre : ${ListeLivre}">
                            <td th:text="${livre.id}"></td>
                            <td th:text="${livre.titre}"></td>
                            <td th:text="${livre.auteur}"></td>
                            <td th:text="${livre.quantite}"></td>
                            <td><a onclick="return confirm('Vous ete sur ?')"
                                th:href="@{deleteLivre(id=${livre.id}, page=${currentPage}, search=${search})}" 
                                class="btn btn-danger">Supprimer</a></td>

                            
                            <td><a th:href="@{/editLivre(id=${livre.id}, search=${search})}" class="btn btn-primary">Modifier</a></td>
                            <td><a th:href="@{/addLivre(search=${search})}" class="btn btn-success">Ajouter</a></td>
                        </tr>
                    </tbody>
                </table>
                <ul class="pagination">
                    <li th:each="page,status : ${pages}" class="page-item">
                        <a  th:class="${status.index == currentPage ? 'page-link active' : 'page-link'}"
                        th:href="@{/index(page=${status.index}, search=${search})}" class="page-link"
                        

                        th:text="${status.index + 1}"></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>

</body>
</html>